<div class="dashboard">
  <h1 class="dashboard__header">Choose what you want to learn</h1>
  <section class="dashboard__menu">
    <div class="dashboard__menu__item dashboard__menu__item--hiragana" (click)="goToLearnHiraganaPage()"
      ><h3>Hiragana</h3></div
    >
    <div class="dashboard__menu__item dashboard__menu__item--katakana"><h3>Katakana</h3></div>
    <div class="dashboard__menu__item dashboard__menu__item--kanji"><h3>Kanji</h3></div>
    <div class="dashboard__menu__item dashboard__menu__item--whatever"><h3>Whatever</h3></div>
  </section>
</div>
