@import './../../../../../styles/variables.scss';

.dashboard-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.dashboard-menu {
  display: grid;
  grid-template-columns: 15rem 15rem;
  grid-template-rows: 15rem 15rem;
  gap: 4px;

  transition: gap 0.5s ease-out;
}

.dashboard-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-of-type(1) {
    background-color: #ca1551;
  }

  &:nth-of-type(2) {
    background-color: #eac435;
  }

  &:nth-of-type(3) {
    background-color: #eac435;
  }

  &:nth-of-type(4) {
    background-color: #ca1551;
  }

  &:hover {
    // -webkit-filter: invert(80%);
    background-color: $app-bg-color;
    color: white;
    cursor: pointer;
  }
}
