<section class="player-statistics">
  <div
    class="player-statistics__questions-score"
    *ngIf="playerTotalQuestionsScore$ | async as playerTotalQuestionsScore">
    <h1 class="player-statistics__questions-score__header">Questions Score</h1>
    <div class="player-statistics__questions-score__values-container">
      <div class="player-statistics__questions-score__values">
        <p class="player-statistics__questions-score__values__item">{{
          playerTotalQuestionsScore.correctAnswersCount
        }}</p>
        <p class="player-statistics__questions-score__values__lel">out of</p>
        <p class="player-statistics__questions-score__values__item">{{ playerTotalQuestionsScore.attemptsCount }}</p>
      </div>
    </div>
  </div>
  <div class="player-statistics__kana-scores">
    <h1 class="player-statistics__kana-scores__header">Kana Score</h1>
    <mat-tab-group class="player-statistics__kana-scores__tabs" color="common" backgroundColor="primary">
      <mat-tab label="Hiragana">
        <div class="player-statistics__kana-scores__tabs__item">
          <app-kana-score-list [kanasScores]="playerTotalKanasScores$ | async" />
        </div>
      </mat-tab>
      <mat-tab label="Katakana"
        ><div class="player-statistics__kana-scores__tabs__item">
          <app-kana-score-list [kanasScores]="playerTotalKanasScores$ | async" /> </div
      ></mat-tab>
      <mat-tab label="Kanji"
        ><div class="player-statistics__kana-scores__tabs__item">
          <app-kana-score-list [kanasScores]="playerTotalKanasScores$ | async" /> </div
      ></mat-tab>
    </mat-tab-group>
  </div>
</section>
