<header class="header">
  <div class="header__app-logo" routerLink="/dashboard"><h2>Learn Kana</h2></div>
  <nav class="header__navigation">
    <ul *ngIf="isUserLoggedIn$ | async" class="header__navigation__list formatted-list">
      <li routerLink="/statistics" class="header__navigation__list__item">
        <img src="./../../../../assets/icons/statistics-icon.png" alt="" />
      </li>
      <li class="header__navigation__list__item">
        <img src="./../../../../assets/icons/icons8-male-user-24.svg" alt="" />
      </li>
      <li>
        <button mat-raised-button class="header__navigation__list__auth-button" (click)="onLogoutClick()"
          >Logout</button
        >
      </li>
    </ul>

    <ul *ngIf="(isUserLoggedIn$ | async) === null" class="header__navigation__list formatted-list">
      <li>
        <button mat-raised-button color="accent" class="header__navigation__list__auth-button" (click)="onLoginClick()"
          >Login</button
        >
      </li>
    </ul>
  </nav>
</header>
