.four-tiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  height: 100%;
  margin: 0 auto;
  text-align: center;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.5rem;
  }
}

@media (max-width: 535px) {
  .four-tiles {
    gap: 1.2rem;
  }
}
