@import './variables.scss';

.question-header {
  font-size: 4rem;
  color: white;
  font-weight: 600;
}

.question-buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  // margin-top: 6.25rem;
}

.continue-button {
  width: 9rem;
  padding: 2rem 1rem !important;
  transition: all 0.15s ease-in-out;
  font-size: 1rem;
  border-radius: 50%;

  &:active {
    transform: scale(0.95);
  }
}

.font-color-yelow {
  color: $beatiful-yellow;
}
