
@font-face {
  font-family: 'Magnat';
  src: url('./../assets/fonts/NeueMagnatTextTest-Regular-BF63e9a00b87450.otf') format('opentype');
}

@font-face {
  font-family: 'Magnat';
  src: url('./../assets/fonts/NeueMagnatTextTest-SemiBold-BF63e9a00d36866.otf') format('opentype');
  font-weight: 600;
}