<div class="quiz-container">
  <section class="quiz-container__content">
    <app-quiz-score *ngIf="quizScore$ | async as quizScore" [quizScore]="quizScore" />

    <ng-template appContentProjection />
  </section>

  <div
    class="quiz-container__footer"
    [ngClass]="{
      'quiz-container__footer--highlighted-green': isAnsweredCorrectly,
      'quiz-container__footer--highlighted-red': isAnsweredCorrectly === false,
    }">
    <button mat-raised-button class="continue-button" (click)="onCancelClick()">Back</button>

    <app-answer-feedback [answerResult]="answerResult" />

    <ng-container *ngIf="!isAnswerConfirmed; else answerConfirmed">
      <button
        mat-raised-button
        [disabled]="isContinueButtonDisabled$ | async"
        color="accent"
        class="continue-button"
        (click)="onContinueFirstClick()"
        >Continue</button
      >
    </ng-container>

    <ng-template #answerConfirmed>
      <button mat-raised-button color="accent" class="continue-button" (click)="onContinueSecondClick()"
        >Continue</button
      >
    </ng-template>
  </div>
</div>
