<article class="answer-feedback">
  <div
    *ngIf="
      answerResultFourTiles?.isAnsweredCorrectly === false || answerResultWriteRomaji?.isAnsweredCorrectly === false
    ">
    <h2>Incorrect!</h2>
  </div>

  <div *ngIf="answerResultWriteRomaji?.isAnsweredCorrectly === false">
    <h2>The correct answer is: {{ answerResultWriteRomaji?.correctAnswerInRomaji }}</h2>
  </div>

  <h2 *ngIf="answerResultFourTiles?.isAnsweredCorrectly || answerResultWriteRomaji?.isAnsweredCorrectly">Correct!</h2>

  <h3 *ngIf="answerResultWriteRomaji?.wordEnglishTranslation">
    It means {{ answerResultWriteRomaji?.wordEnglishTranslation }}
  </h3>
</article>
