@import './../../../../../styles/variables.scss';

.quiz-score {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
  margin: 0 auto;

  &__score {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #9d91a3;

    &--current {
      background-color: $beautiful-yellow;
    }

    &--correct {
      background-color: #0cce6b;
    }

    &--incorrect {
      background-color: #f44336;
    }
  }
}
