<article class="answer-feedback">
  <h1
    *ngIf="answerResultFourTiles?.isAnsweredCorrectly || answerResultWriteRomaji?.isAnsweredCorrectly"
    class="answer-feedback__main-header"
    >Perfect!</h1
  >

  <div
    *ngIf="
      answerResultFourTiles?.isAnsweredCorrectly === false || answerResultWriteRomaji?.isAnsweredCorrectly === false
    ">
    <h1 class="answer-feedback__main-header">Wrong!</h1>
  </div>

  <br />

  <div *ngIf="answerResultWriteRomaji?.isAnsweredCorrectly === false">
    <h3>Correct answer: {{ answerResultWriteRomaji?.correctAnswerInRomaji }}</h3>
  </div>

  <h4 *ngIf="answerResultWriteRomaji?.wordEnglishTranslation">
    It means <i>"{{ answerResultWriteRomaji?.wordEnglishTranslation }}"</i>
  </h4>
</article>
