$transition: all 0.15s ease-in-out;

.answer-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  border: none;
  background-color: #edd426;
  transition: $transition;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

  &--selected {
    transform: scale(1.2);
    background-color: #256eff;
  }

  &--colored-green {
    background-color: #69f0ae;
  }

  &--colored-red {
    background-color: #bb0a21;
  }

  &[disabled]:hover {
    pointer-events: none;
  }

  &:hover {
    transition: $transition;

    background-color: #256eff;
  }
}

.answer-tile__image {
  height: 5rem;
  width: 5rem;
}
