<div
  class="kanas-list kanas-list--many-rows"
  [ngClass]="{
    'kanas-list--many-rows': rowsConfiguration === 'many',
    'kanas-list--2-rows': rowsConfiguration === 'few'
  }">
  <div class="kanas-list__item" *ngFor="let kanaScore of kanasScores | keyvalue">
    <div class="kanas-list__item__symbol">{{ kanaScore.value.kanaSymbol }}</div>
    <div class="kanas-list__item__romaji">{{ kanaScore.key }}</div>
    <div class="kanas-list__item__values">
      <p class="kanas-list__item__values__correct-answers-count">{{ kanaScore.value.correctAnswersCount }}</p>
      <p class="kanas-list__item__values__attempts-count">{{ kanaScore.value.attemptsCount }}</p>
    </div>
  </div>
</div>
