<section class="some-container">
  <mat-progress-bar
    mode="determinate"
    bufferValue
    [value]="counter$ | async"
    color="warn"
    class="question-time-counter"></mat-progress-bar>
  <ng-template appQuestionContent />

  <div class="question-buttons-container">
    <ng-container *ngIf="!isAnswerConfirmed; else answerConfirmed">
      <button mat-raised-button color="accent" class="continue-button" (click)="onContinueClick()">Continue</button>
    </ng-container>

    <ng-template #answerConfirmed>
      <button mat-raised-button color="accent" class="continue-button" (click)="onContinue2Click()">Continue</button>
    </ng-template>

    <button mat-raised-button color="accent" class="continue-button" (click)="onNextClick()">Next</button>
  </div>
</section>
