$transition: all 0.15s ease-in-out;

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9.5rem;
  height: 9.5rem;
  border-radius: 50%;
  border: none;
  background-color: #edd426;
  transition: $transition;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);

  &:hover {
    transition: $transition;

    background-color: #256eff;
  }
}

.tile[disabled]:hover {
  pointer-events: none;
}

.tile-image {
  height: 80px;
  width: 80px;
}

.tile--selected {
  transform: scale(1.2);
  background-color: #256eff;
}

.tile--colored-green {
  background-color: #69f0ae;
}

.tile--colored-red {
  background-color: #bb0a21;
}
