<section *ngIf="gameTiles" class="game-container" >
  <h1 class="game-header">Which one is '<span class="font-color-yelow">{{ correctAnswer.romaji }}</span>' ?</h1>
  <div class="hiraganas-container">
    <app-answer-tile 
      *ngFor="let tile of gameTiles; let i = index"
      [isSelected]="tile.isSelected"
      [isDisabled]="tile.isDisabled"
      [imagePath]="tile.imagePath"
      [index]="i"
      [isAnsweredCorrectly]="tile.isAnsweredCorrectly"
      [isAnsweredWrongly]="tile.isAnsweredWrongly"
      (tileSelected)="onTileSelected($event)"
    />
  </div>

  <div class="game-buttons-container">
    <button (click)="onContinueClick()">Next</button>

    <ng-container *ngIf="!isAnswerConfirmed; else answerConfirmed">
      <button mat-raised-button color="accent" class="continue-button" (click)="onContinueClick()">Continue</button>
    </ng-container>
    <ng-template #answerConfirmed>
      <button mat-raised-button color="accent" class="continue-button" (click)="onContinue2Click()">Continue</button>
    </ng-template>
  

  </div>
  
</section>