<section *ngIf="answerTiles" class="question-container">
  <h2 class="question-header"
    >Which one is '<span class="font-color-yelow">{{ correctAnswer.romaji }}</span
    >' ?</h2
  >
  <div class="answers-container">
    <app-answer-tile
      *ngFor="let tile of answerTiles; let i = index"
      [answerTileConfig]="tile"
      [index]="i"
      (tileSelected)="onTileSelected($event)" />
  </div>

  <div class="question-buttons-container">
    <ng-container *ngIf="!isAnswerConfirmed; else answerConfirmed">
      <button mat-raised-button color="accent" class="continue-button" (click)="onContinueClick()">Continue</button>
    </ng-container>

    <ng-template #answerConfirmed>
      <button mat-raised-button color="accent" class="continue-button" (click)="onContinue2Click()">Continue</button>
    </ng-template>
  </div>
</section>

<ng-template [appGameContent]></ng-template>
